## 4. Trend Analysis of Programming Languages (2013-2019)

This separate notebook is for trend analysis and wrangling techniques neccessary to parse responses stored in a variety of formats.

Similarly to the previous notebook, we will import our packages and get the dataset and schema file names.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
from IPython import display
import seaborn as sns
from collections import defaultdict, Counter
from sklearn.preprocessing import MinMaxScaler

%matplotlib inline

In [2]:
datasets = glob.glob("datasets/*_public.csv")
datasets

['datasets\\2013_survey_results_public.csv',
 'datasets\\2014_survey_results_public.csv',
 'datasets\\2015_survey_results_public.csv',
 'datasets\\2016_survey_results_public.csv',
 'datasets\\2017_survey_results_public.csv',
 'datasets\\2018_survey_results_public.csv']

In [3]:
schemas = glob.glob("datasets/*_schema.csv")
schemas

['datasets\\2017_survey_results_schema.csv',
 'datasets\\2018_survey_results_schema.csv']

In [4]:
results = {}
results

{}

### 2013 Dataset

Earlier datasets do not have traditional headers, instead the first row of these datasets are the questions and the second row are the possible responses of the question, such as C, C#, PHP etc.
Therefore, instead of parsing multilevel indexes, it would be simpler to get the columns by ``idx`` - the function defined below allows this.

In [5]:
def get_index(column, column_value, schema):
    '''
    INPUT - column - string - the name of the column we want to search
            column_value - string - the term we would like to search for
    OUTPUT - 
            idx - index - the integer index of the column containing the specified value
    '''
    idx = schema.index[schema[column].astype(str).str.contains(str(column_value))]
    return idx

We can create somewhat of a schema by parsing the first two rows of the 2013 dataset to reference as a schema and fetch data by index. The columns in the schema will be defined as ``Question`` and ``Option``.

In [7]:
def make_schema_load_dataset(data_path):
    '''
    INPUT - datapath - string - the location of the file we want to load
    OUTPUT - 
            schema, dataset - tuple(DataFrame) - two pandas dataframes, one of the schema and another, the data.
    '''
    schema = pd.read_csv(data_path, index_col=None, header=None, nrows=2, encoding="utf-8", low_memory=False).T
    schema.columns = ['Question', 'Option']
    dataset = pd.read_csv(data_path, index_col=None, header=1, encoding="utf-8", low_memory=False)
    return schema, dataset

In [8]:
df_2013_schema, df_2013_data = make_schema_load_dataset(datasets[0])

In [9]:
df_2013_schema.head(3)

                                      Question    Option
0       What Country or Region do you live in?  Response
1  Which US State or Territory do you live in?  Response
2                             How old are you?  Response

We obtain the index by passing the value from the dataset to find, which is string matched to our values in the schema.

In [10]:
index = get_index('Question', 'Which of the following languages or technologies have you used significantly in the past year?', df_2013_schema)

We can then slice the dataframe into a subset containing only the desired language information.

In [11]:
df_2013_schema.iloc[index[0]:index[0]+14]

                                             Question                  Option
56  Which of the following languages or technologi...                       C
57                                                NaN                     C++
58                                                NaN                      C#
59                                                NaN                    Java
60                                                NaN              JavaScript
61                                                NaN                  jQuery
62                                                NaN                  JQuery
63                                                NaN                 Node.js
64                                                NaN             Objective-C
65                                                NaN                     PHP
66                                                NaN                  Python
67                                                NaN                    Ruby
68                                                NaN                     SQL
69                                                NaN  Other (please specify)

In [12]:
df_2013_languages = df_2013_data.iloc[:, index[0]:index[0]+14]
df_2013_languages.head(3)

,C,C++,C#,Java,JavaScript,jQuery,JQuery,Node.js,Objective-C,PHP,Python,Ruby,SQL,Other (please specify)
0,NaN,NaN,NaN,Java,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SQL,NaN
1,NaN,NaN,C#,NaN,JavaScript,jQuery,NaN,NaN,NaN,PHP,NaN,NaN,NaN,MySql / VbScript
2,NaN,NaN,C#,NaN,JavaScript,jQuery,NaN,NaN,NaN,NaN,NaN,NaN,SQL,"PL/SQL, XSLT, XQuery"

In [13]:
df_2013_languages.shape

(9742, 14)

We can retrieved a dictionary of counts and calculate the percentages using the ``percentage_dict`` function defined below, which can also remove users who didn't report any languages. The results are stored in the results dictionary, with the key ``2013``.

In [14]:
language_dict_2013 = df_2013_languages.describe().loc['count'].to_dict()
language_dict_2013

{'C': 1436,
 'C++': 1696,
 'C#': 3027,
 'Java': 3020,
 'JavaScript': 4735,
 'jQuery': 4109,
 'JQuery': 239,
 'Node.js': 599,
 'Objective-C': 955,
 'PHP': 2324,
 'Python': 1880,
 'Ruby': 794,
 'SQL': 4593,
 'Other (please specify)': 1897}

In [15]:
def percentage_dict(languages, dataframe, rows=None):
    '''
    INPUT - languages - dict - the dictionary of language counts
            dataframe - DataFrame - the dataframe we would like to process
            rows - boolean - the rows we want to remove nulls from
    OUTPUT - 
            idx - index - the integer index of the column containing the specified value
    '''
    print("Rows Before: {}".format(dataframe.shape[0]))
    if rows is not None:
        dataframe = dataframe[rows].dropna(how='all', axis=0)
    else:
        dataframe = dataframe.dropna(how='all', axis=0)
        
    n = dataframe.shape[0]
    print("Rows After: {}".format(n))
    return dict((k, v/n) for k, v in languages.items())

In [16]:
results['2013'] = percentage_dict(language_dict_2013, df_2013_languages)

Rows Before: 9742
Rows After: 8042

In [17]:
results

{'2013': {'C': 0.1785625466301915,
  'C++': 0.21089281273315097,
  'C#': 0.3763989057448396,
  'Java': 0.3755284755036061,
  'JavaScript': 0.5887838846058194,
  'jQuery': 0.5109425516040785,
  'JQuery': 0.02971897537925889,
  'Node.js': 0.07448395921412584,
  'Objective-C': 0.11875155433971649,
  'PHP': 0.28898284008952996,
  'Python': 0.23377269335986073,
  'Ruby': 0.09873165879134543,
  'SQL': 0.5711265854265108,
  'Other (please specify)': 0.235886595374285}}

### 2014 Dataset

This dataset is in the same format was the previous and therefore the same wrangling process can be applied.

In [18]:
df_2014_schema, df_2014_data = make_schema_load_dataset(datasets[1])

In [19]:
df_2014_schema.head(3)

                                      Question                  Option
0                 What Country do you live in?                Response
1                                          NaN  Other (please specify)
2  Which US State or Territory do you live in?                Response

In [20]:
index = get_index('Question', 'Which of the following languages or technologies have you used significantly in the past year?', df_2014_schema)

In [21]:
df_2014_schema.iloc[index[0]:index[0]+12]

                                             Question                  Option
42  Which of the following languages or technologi...                       C
43                                                NaN                     C++
44                                                NaN                      C#
45                                                NaN                    Java
46                                                NaN              JavaScript
47                                                NaN                 Node.js
48                                                NaN             Objective-C
49                                                NaN                     PHP
50                                                NaN                  Python
51                                                NaN                    Ruby
52                                                NaN                     SQL
53                                                NaN  Other (please specify)

In [22]:
df_2014_languages = df_2014_data.iloc[:, index[0]:index[0]+12]
df_2014_languages.head(3)

,C,C++,C#,Java,JavaScript,Node.js,Objective-C,PHP,Python,Ruby,SQL,Other (please specify).1
0,NaN,NaN,NaN,Java,JavaScript,NaN,NaN,PHP,Python,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PHP,NaN,NaN,NaN,NaN
2,NaN,NaN,C#,NaN,JavaScript,NaN,NaN,NaN,NaN,NaN,SQL,NaN

In [23]:
df_2014_languages.describe().loc['count'].to_dict()

{'C': 1174,
 'C++': 1418,
 'C#': 2378,
 'Java': 2479,
 'JavaScript': 3783,
 'Node.js': 641,
 'Objective-C': 675,
 'PHP': 1710,
 'Python': 1473,
 'Ruby': 593,
 'SQL': 3467,
 'Other (please specify).1': 1398}

In [24]:
results['2014'] = percentage_dict(df_2014_languages.describe().loc['count'].to_dict(), df_2014_languages)

Rows Before: 7643
Rows After: 6537

### 2015 Dataset

This dataset is stored in a different format, and the function we created to return the indexes had to be changed to a more general approach. Using partial string matching, we can get the language columns and in fact is a nicer approach as we don't need to find where to end the slice as the indexes of all language columns are returned.

In [25]:
df_2015_schema, df_2015_data = make_schema_load_dataset(datasets[2])

In [26]:
indexes = get_index('Option', 'Current Lang & Tech', df_2015_schema)

In [27]:
indexes

Int64Index([ 8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24,
            25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41,
            42, 43, 44, 45, 46, 47, 48, 49, 50],
           dtype='int64')

In [28]:
df_2015_languages = df_2015_data.iloc[:, indexes]
df_2015_languages.head(3)

,Current Lang & Tech: Android,Current Lang & Tech: Arduino,Current Lang & Tech: AngularJS,Current Lang & Tech: C,Current Lang & Tech: C++,Current Lang & Tech: C++11,Current Lang & Tech: C#,Current Lang & Tech: Cassandra,Current Lang & Tech: CoffeeScript,Current Lang & Tech: Cordova,...,Current Lang & Tech: Scala,Current Lang & Tech: Sharepoint,Current Lang & Tech: Spark,Current Lang & Tech: SQL,Current Lang & Tech: SQL Server,Current Lang & Tech: Swift,Current Lang & Tech: Visual Basic,Current Lang & Tech: Windows Phone,Current Lang & Tech: Wordpress,Current Lang & Tech: Write-In
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Scala,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,C#,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,C#,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Each language has the prefix ``'Current Lang & Tech: ``, for example, ``'Current Lang & Tech: Android'``. Therefore, to extract the language name, we can split the strings by ``: `` and take the second component.

In [29]:
def strip_keys(dictionary):
    '''
    INPUT - dictionary - dict - the dictionary of language counts
    OUTPUT - 
            dict - the dictionary with stripped keys, containing only the language names
    '''
    return dict((k.split(': ')[1], v) for k, v in dictionary.items())

In [30]:
df_2015_languages.describe().loc['count'].to_dict()

{'Current Lang & Tech: Android': 4110,
 'Current Lang & Tech: Arduino': 1626,
 'Current Lang & Tech: AngularJS': 2913,
 'Current Lang & Tech: C': 3612,
 'Current Lang & Tech: C++': 4529,
 'Current Lang & Tech: C++11': 1851,
 'Current Lang & Tech: C#': 6949,
 'Current Lang & Tech: Cassandra': 202,
 'Current Lang & Tech: CoffeeScript': 783,
 'Current Lang & Tech: Cordova': 628,
 'Current Lang & Tech: Clojure': 176,
 'Current Lang & Tech: Cloud': 1410,
 'Current Lang & Tech: Dart': 109,
 'Current Lang & Tech: F#': 174,
 'Current Lang & Tech: Go': 462,
 'Current Lang & Tech: Hadoop': 342,
 'Current Lang & Tech: Haskell': 357,
 'Current Lang & Tech: iOS': 1956,
 'Current Lang & Tech: Java': 8219,
 'Current Lang & Tech: JavaScript': 11962,
 'Current Lang & Tech: LAMP': 1926,
 'Current Lang & Tech: Matlab': 860,
 'Current Lang & Tech: MongoDB': 1745,
 'Current Lang & Tech: Node.js': 2919,
 'Current Lang & Tech: Objective-C': 1719,
 'Current Lang & Tech: Perl': 738,
 'Current Lang & Tech: PHP': 6529,
 'Current Lang & Tech: Python': 5238,
 'Current Lang & Tech: R': 755,
 'Current Lang & Tech: Redis': 873,
 'Current Lang & Tech: Ruby': 1765,
 'Current Lang & Tech: Rust': 103,
 'Current Lang & Tech: Salesforce': 153,
 'Current Lang & Tech: Scala': 538,
 'Current Lang & Tech: Sharepoint': 349,
 'Current Lang & Tech: Spark': 104,
 'Current Lang & Tech: SQL': 9439,
 'Current Lang & Tech: SQL Server': 4129,
 'Current Lang & Tech: Swift': 759,
 'Current Lang & Tech: Visual Basic': 1701,
 'Current Lang & Tech: Windows Phone': 570,
 'Current Lang & Tech: Wordpress': 2007,
 'Current Lang & Tech: Write-In': 2148}

In [31]:
df_2015_languages_stripped = strip_keys(df_2015_languages.describe().loc['count'].to_dict())

In [32]:
results['2015'] = percentage_dict(df_2015_languages_stripped, df_2015_languages)

Rows Before: 26086
Rows After: 22107

###  2016 Dataset
 
This dataset, again, has a new format. The language results are stored in one column and not across multiple columns, delimitered by a semi-colon ``;``.  

Therefore I have created a new function called ``explode_results`` which splits and counts responses and then returns the count dictionary.

In [33]:
datasets[3]

'datasets\\2016_survey_results_public.csv'

In [35]:
df_2016_data = pd.read_csv(datasets[3], index_col=None, header=0, encoding="utf-8", low_memory=False)

In [36]:
df_2016_data.head()

,Unnamed: 0,collector,country,un_subregion,so_region,age_range,age_midpoint,gender,self_identification,occupation,...,important_sameend,important_newtech,important_buildnew,important_buildexisting,important_promotion,important_companymission,important_wfh,important_ownoffice,developer_challenges,why_stack_overflow
0,1888,Facebook,Afghanistan,Southern Asia,Central Asia,20-24,22.0,Male,Programmer,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4637,Facebook,Afghanistan,Southern Asia,Central Asia,30-34,32.0,Male,Developer; Engineer; Programmer,Mobile developer - iOS,...,This is somewhat important,This is very important,This is very important,I don't care about this,This is somewhat important,This is somewhat important,I don't care about this,I don't care about this,Unrealistic expectations; Interacting with non...,To get help for my job; Because I can't do my ...
2,11164,Facebook,Afghanistan,Southern Asia,Central Asia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21378,Facebook,Afghanistan,Southern Asia,Central Asia,NaN,NaN,Female,Engineer,DevOps,...,I don't care about this,This is somewhat important,This is very important,This is very important,I don't care about this,I don't care about this,This is very important,This is somewhat important,Corporate policies; Interacting with non-techn...,To get help for my job; Beacause I love to learn
4,30280,Facebook,Afghanistan,Southern Asia,Central Asia,> 60,65.0,Prefer not to disclose,Developer; Engineer; Programmer; Sr. Developer...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
def explode_results(data, column):
    '''
    INPUT - data - DataFrame - the dataframe we would like to process
            column - string - the column we would like to search for
    OUTPUT - 
            dict - the resulting dictionary where languages are keys and the values are their respective counts
    '''
    results = defaultdict(int)
    for index, row in data.iterrows():
        if row[column] is not np.nan:
            for val in row[column].split(';'):
                results[val.strip()] += 1
    return dict(results)

In [38]:
df_2016_languages = explode_results(df_2016_data, 'tech_do')

In [39]:
df_2016_languages

{'iOS': 4498,
 'Objective-C': 3202,
 'Android': 8601,
 'Arduino / Raspberry Pi': 3797,
 'AngularJS': 8823,
 'C': 7678,
 'C++': 9589,
 'C#': 15283,
 'Cassandra': 663,
 'CoffeeScript': 1662,
 'Cordova': 1651,
 'Clojure': 556,
 'Cloud (AWS, GAE, Azure, etc.)': 4629,
 'Dart': 222,
 'F#': 484,
 'Go': 1547,
 'Hadoop': 1012,
 'Haskell': 813,
 'Java': 17942,
 'JavaScript': 27385,
 'LAMP': 4821,
 'Matlab': 1602,
 'MongoDB': 4780,
 'Node.js': 8509,
 'Perl': 1624,
 'PHP': 12780,
 'Python': 12282,
 'R': 1632,
 'ReactJS': 2541,
 'Redis': 2862,
 'Ruby': 4383,
 'Rust': 436,
 'Salesforce': 665,
 'Scala': 1602,
 'SharePoint': 853,
 'Spark': 707,
 'SQL': 21976,
 'SQL Server': 9306,
 'Swift': 2746,
 'Visual Basic': 3312,
 'Windows Phone': 1123,
 'WordPress': 4496}

This dictionary can be passed to the ``percentage_dict`` function.

In [40]:
results['2016'] = percentage_dict(df_2016_languages, df_2016_data, 'tech_do')

Rows Before: 56030
Rows After: 49025

### 2017 Dataset

The following two datasets are in a new, consistent format with an accompanying schema. Similarly to 2016, they are stored in a single column and semi-colon delimitered. Therefore, our ``explode_results`` function still works appropriately.

In [41]:
df_2017_data = pd.read_csv(datasets[4], index_col=None, header=0, encoding="utf-8", low_memory=False)

In [42]:
df_2017_data['HaveWorkedLanguage'].head()

0                            Swift
1    JavaScript; Python; Ruby; SQL
2                Java; PHP; Python
3           Matlab; Python; R; SQL
4                              NaN
Name: HaveWorkedLanguage, dtype: object

In [43]:
df_2017_languages = explode_results(df_2017_data, 'HaveWorkedLanguage')

In [44]:
df_2017_languages

{'Swift': 2368,
 'JavaScript': 22875,
 'Python': 11704,
 'Ruby': 3324,
 'SQL': 18754,
 'Java': 14524,
 'PHP': 10290,
 'Matlab': 1569,
 'R': 1634,
 'Rust': 416,
 'CoffeeScript': 1192,
 'Clojure': 391,
 'Elixir': 380,
 'Erlang': 281,
 'Haskell': 649,
 'C#': 12476,
 'Objective-C': 2349,
 'C': 6974,
 'C++': 8155,
 'Assembly': 1823,
 'VB.NET': 2273,
 'Perl': 1585,
 'Scala': 1309,
 'F#': 457,
 'TypeScript': 3488,
 'Lua': 1039,
 'VBA': 1574,
 'Groovy': 1193,
 'Go': 1557,
 'Smalltalk': 327,
 'Visual Basic 6': 1071,
 'Common Lisp': 273,
 'Dart': 145,
 'Julia': 138,
 'Hack': 107}

In [45]:
results['2017'] = percentage_dict(df_2017_languages, df_2017_data, 'HaveWorkedLanguage')

Rows Before: 51392
Rows After: 36625

### 2018 Dataset

Although stored similarly, there is a slight change in the way data is stored (colon only) which meant a change was neccessary in the ``explode_results`` function. Instead of splitting on ``; `` (colon whitespace), I removed the whitespace and stripped the strings in the resulting array.

In [46]:
df_2018_data = pd.read_csv(datasets[5], index_col=None, header=0, encoding="utf-8", low_memory=False)

In [47]:
df_2018_data['LanguageWorkedWith'].head()

0                          JavaScript;Python;HTML;CSS
1                        JavaScript;Python;Bash/Shell
2                                                 NaN
3    C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell
4                  C;C++;Java;Matlab;R;SQL;Bash/Shell
Name: LanguageWorkedWith, dtype: object

In [48]:
df_2018_languages = explode_results(df_2018_data, 'LanguageWorkedWith')

In [49]:
df_2018_languages

{'JavaScript': 54686,
 'Python': 30359,
 'HTML': 53628,
 'CSS': 50979,
 'Bash/Shell': 31172,
 'C#': 26954,
 'SQL': 44670,
 'TypeScript': 13626,
 'C': 18042,
 'C++': 19872,
 'Java': 35521,
 'Matlab': 4564,
 'R': 4813,
 'Assembly': 5760,
 'CoffeeScript': 2603,
 'Erlang': 886,
 'Go': 5532,
 'Lua': 2733,
 'Ruby': 7911,
 'PHP': 24071,
 'VB.NET': 5254,
 'Swift': 6310,
 'Groovy': 3373,
 'Kotlin': 3508,
 'Objective-C': 5510,
 'Scala': 3420,
 'F#': 1115,
 'Haskell': 1961,
 'Rust': 1857,
 'Julia': 430,
 'VBA': 3810,
 'Perl': 3280,
 'Cobol': 590,
 'Visual Basic 6': 3087,
 'Delphi/Object Pascal': 2025,
 'Hack': 254,
 'Clojure': 1032,
 'Ocaml': 470}

In [50]:
results["2018"] = percentage_dict(df_2018_languages, df_2018_data, 'LanguageWorkedWith')

Rows Before: 98855
Rows After: 78334